 html, body,.all{
	background-color:#FCEC22;
    height: 100%; 
	
}
	
	#h1{
		background-color:#FCEC22;
		position: relative;
		top: 10%;
		left: 0;
		width: 350px;
		height: 150px;
		z-index:6;
	}
	#h2{
		background-size: 100% 100%;
		background-color:#FCEC22;
		position: absolute;
		top: 15%;
		left: 10px;
		width: 120px;
		height: 50px;
		z-index:5;
	}
	#hide2{
		background-color:#FCEC22;
		
		position: absolute;
		top: 15%;
		left: 530px;
		width: 0;
		height: 50px;
		z-index:6;
	}
	#h3{
		background-size: 100% 100%;
		background-color:#FCEC22;
		position: absolute;
		top: 15%;
		left: 380px;
		width: 120px;
		height: 50px;
		z-index:4;
	}
	#hide3{
		background-color:#FCEC22;
		position: absolute;
		top: 15%;
		left: 680px;
		width: 0;
		height: 50px;
		z-index:5;
	}
	#h4{
		background-size: 100% 100%;
		background-color:#FCEC22;
		position: absolute;
		top: 15%;
		left: 530px;
		width: 120px;
		height: 50px;
		z-index:3;
	}
	#hide4{
		background-color:#FCEC22;
		position: absolute;
		top: 15%;
		left: 830px;
		width: 0;
		height: 50px;
		z-index:4;
	}
	#h5{
		background-size: 100% 100%;
		
		position: absolute;
		top: 15%;
		left: 680px;
		width: 120px;
		height: 50px;
		z-index:2;
	}
	#hide5{
		background-color:#FCEC22;
		position: absolute;
		top: 15%;
		left: 980px;
		width: 0;
		height: 50px;
		z-index:3;
	}
	#fm{
		background-size: 100% 100%;
		position: absolute;
		top: 35%;
		left: 280px;
		width: 120px;
		height: 50px;
		z-index:2;
	}
	
	#build0{
		  
		 position: absolute;
		 bottom: 0;
		 height: 500px;
		 width: 100%;
		 z-index:0;
	}
	#build1{
		 
		 
		 background-size: 100% 100%;
		 position: absolute;
		 bottom: 0;
		 height: 220px;
		 width: 1380px;
		 z-index:1;
		
	}
	#build2{
		
		
		 background-size: 100% 100%;
		 position: absolute;
		 left: 100px;
		 bottom: 150px;
		 height: 220px;
		 width: 1100px;
		 z-index:1;
		 
	}
	#but1{
		 
		 position: absolute;
		 top: 15%;
		 left: 80%;
		 height: 30px;
		 width: 100px;
		 z-index:6;
	}
	#but2{
		
		 position: absolute;
		 top: 23%;
		 left: 80%;
		 height: 30px;
		 width: 100px;
		 z-index:6;
	}
	#but3{
		
		 position: absolute;
		 top: 31%;
		 left: 80%;
		 height: 30px;
		 width: 100px;
		 z-index:6;
<<<<<<< HEAD
	}
=======
	}
>>>>>>> 8e169071d7d43ccc64c9881347c6e40c8b927442
